@import "null.css"; /* обнуление */
@import "font.css"; /* шрифты */


body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    
}
.body {
    background: #fff;
}
.header {
    max-width: 1920px;
    background: url(../img/fl_bg_header.svg);
    background-position: 98% 70%;
    background-repeat: no-repeat;
    background-size: contain;

}
.header__container {
    max-width: 1170px;
    margin: 0 auto;
}
.header__logo {
    padding-top: 75px;
    padding-bottom: 75px;
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    text-align: center;
}
.header__logo_redtext {
    color: #FD7777;
}
.header__wrap {
    display: flex;
    justify-content: space-between;
    line-height: 21px;
    padding: 0 5px 45px 5px;
}
.header__toggle {
    display: none;
    margin: 5px;
}
.header__menu {
    display: flex;
    flex-wrap: wrap;
}
.menu__item {
    margin-right: 90px;
    text-transform: uppercase;
    color: #333333;
}
.link {
    color: #333333;
}

.link:hover {
    color: #FD7777;
}
.menu__item_last {
    margin-right: 0;
}
.header__tel {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.ico {
    display: block;
    width: 21px;
    height: 21px;
    margin-right: 7px;
}
.number {
    display: block;
    text-decoration: none;
    color: #333333;
}
.header__basket {
    text-transform: uppercase;
    color: #333333;
}
.header__basket_mobile {
    display: none;
}
.icobasketwrap {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.ellips {
    position: absolute;
    top:0;
   left: 10px;
}
/* -------------------------------------MEDIA-------------------------------- */
@media (max-width: 375px) {
    .body.active {
        margin: 0 0 0 188px;
    }
    .header {
        padding: 30px 5px 24px 5px;
        background: #fff;
    }
    .header__toggle {
        display: block;
        cursor: pointer;
    }
    .header__toggle.active {
        position: fixed;
        top: 30px;
        left: 50px;
    }
   
    .header__menu {
        flex-direction: column;
        position: fixed;
        top: 88px;
        left:-100%;
        width: 50%;
        height: 100vh;
        background: #fff;
    }
    .header__menu.active {
        left: 0;
    }
    .menu__item {
        padding: 0 0 0 20px;
        margin: 0 0 50px 40px;
    }
    .menu__item:hover {
        border-left: 2px solid #FD7777;
    }
    .link_hidden {
        display: none;
    }
    .header__logo {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 20px;
    }
    .header__tel {
        display: none;
    }
    .header__basket {
        display: flex;
        align-items: center;
    }
    .header__container__mobile {
        /* position: fixed; */
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
    }
}